.inputWrapper {
    width: 250px;
    height: 100px;
}

.inputWrapper div{
    margin: 10px;
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
}

.inputWrapper2 {
    width: 250px;
    height: 100px;
}

.inputWrapper2 div{
    margin: 5px;
    display: flex;
    width: 220px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0px;
}

.numberInput input {
    width: 40px;
}